@model List<RV.Postal>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var Search = ViewBag.Search;
    var postal = Model;//ViewBag.Stations;

    //this.Model
}

<iframe height="400px" width="100%" frameborder="0" scrolling="no" src="~/Postal/Map" allowfullscreen="false">

</iframe>

<form class="form-inline" method="post" action="~/Postal">
    <div class="form-group">

        <input type="text" class="form-control" placeholder="名稱"
               name="search" id="search"
               value="@ViewBag.Search">
    </div>

    <button href="" type="submit" class="btn btn-default">搜尋</button>
</form>
<hr />
<div class="list-group">
    <a href="#" class="list-group-item active">
        Postals
    </a>
    @for (int i = 0; i < Model.Count; i++)
    {

        <div class="list-group-item">
            <div class="list-group list-group-horizontal">
                <a class="list-group-item">@Model[i].PostalCode</a>
                <a class="list-group-item">@Model[i].Section</a>
                <a href="~/Postal?PostalCode=@Model[i].PostalCode" id="PostalCode" class="btn btn-primary">查詢位置</a>

            </div>

        </div>

    }



</div>
